# 2019/W46: 2019/W46: Youth & adult literacy rates

Data from [here](https://data.world/makeovermonday/2019w46)

# Load packages and import data

In [1]:
import pandas as pd
import altair as alt
from vega_datasets import data

In [2]:
world = alt.topo_feature(data.world_110m.url, feature='countries')

# US states background
background = alt.Chart(world).mark_geoshape(
    fill='lightgray',
    stroke='white'
).properties(
    width=500,
    height=300
).project('equirectangular'
).configure(
    background='snow'
)

background

alt.Chart(...)

In [3]:
df = pd.read_excel('https://query.data.world/s/q5g76ayqd352pmacm4zxekyhq3rx5c')
df.head()

                      Region      Country  Year    Age  Gender  Literacy rate
0  Central and Southern Asia  Afghanistan  2011    15+  female       0.176121
1  Central and Southern Asia  Afghanistan  2011    15+    male       0.454171
2  Central and Southern Asia  Afghanistan  2011    15+   total       0.317411
3  Central and Southern Asia  Afghanistan  2011  15-24  female       0.321132
4  Central and Southern Asia  Afghanistan  2011  15-24    male       0.618791

Yes, except for the current one, 2019. 

And a quick `describe`.

In [4]:
df.describe(include='all')

,Region,Country,Year,Age,Gender,Literacy rate
count,4955,4955,4955.000000,4955,4955,4955.000000
unique,7,155,NaN,4,3,NaN
top,Latin America and the Caribbean,Uruguay,NaN,15+,total,NaN
freq,1410,108,NaN,1260,1652,NaN
mean,NaN,NaN,2013.987891,NaN,NaN,0.816947
std,NaN,NaN,2.746204,NaN,NaN,0.232560
min,NaN,NaN,2010.000000,NaN,NaN,0.004025
25%,NaN,NaN,2011.000000,NaN,NaN,0.722507
50%,NaN,NaN,2014.000000,NaN,NaN,0.930676
75%,NaN,NaN,2016.000000,NaN,NaN,0.985078
max,NaN,NaN,2018.000000,NaN,NaN,1.000000

Some numeric values are not in the right type. So I'll take a look and transform them.

In [6]:
from vega_datasets import data

In [15]:
?alt.topo_feature

Signature: alt.topo_feature(url, feature, **kwargs)
Docstring:
A convenience function for extracting features from a topojson url

Parameters
----------
url : string
    An URL from which to load the data set.

feature : string
    The name of the TopoJSON object set to convert to a GeoJSON feature collection. For
    example, in a map of the world, there may be an object set named `"countries"`.
    Using the feature property, we can extract this set and generate a GeoJSON feature
    object for each country.

**kwargs :
    additional keywords passed to TopoDataFormat
File:      c:\programdata\anaconda3\lib\site-packages\altair\vegalite\v3\api.py
Type:      function